.header {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
  margin-top: 23px;
  background-color: rgba(11, 1, 11, 0.3);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  padding: 10px 12px;
  border-radius: 100px;
}

.headerLogo {
  width: max-content;
  height: max-content;
  display: flex;
  z-index: 999;
}

.navMenu a:hover {
  transition: 0.15s all;
  color: #f2f2f2;
}

.backPartMenu {
  display: none;
  position: absolute;
  width: 100%;
  left: -10px;
  bottom: -3px;
  height: 22px;
}

.backPartMenu svg {
  width: 50px;
  height: 100%;
}

.linkMenu,
.linkMenuActive {
  transition: 0.15s all;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.linkMenu a,
.linkMenuActive a {
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-shadow: 2px 0 #0b010b, -2px 0 #0b010b, 0 2px #0b010b, 0 -2px #0b010b,
    1px 1px #0b010b, -1px -1px #0b010b, 1px -1px #0b010b, -1px 1px #0b010b; */
}

.linkMenu a {
  color: var(--text-grey);
}

.linkMenuActive a {
  color: #f2f2f2;
}

.linkMenuActive .backPartMenu {
  display: flex;
  align-items: center;
}

@media (max-width: 640px) {
  .header {
    margin-top: 0;
  }

  .linkMenuActive .backPartMenu {
    justify-content: flex-end;
  }
}
