.bio {
  height: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.bio h1 {
  font-size: 3rem;
}

.linkBox {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.linkBox:hover {
  background: #dedede;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.linkIcon .ballon {
  width: 170px;
  color: #fff;
}

.linkIcon svg {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.linkIcon:hover svg {
  color: var(--primary);
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.linkIcon:hover .divBallon {
  transition:
    visibility 0s,
    opacity 0.4s linear;
  visibility: visible;
  opacity: 1;
}

.linkIcon .divBallon {
  top: 122.6%;
}

.nomeHover {
  color: #fff;
  -webkit-transition: color 1s;
  transition: color 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  display: inline-block;
  line-height: 1;
}

.nomeHover:hover {
  color: var(--primary);
  -webkit-transition: color 0s;
  transition: color 0s;
}

.profilePicture img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
}

.profilePicture:hover img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

.profilePicture::before {
  content: '';
  position: absolute;
  height: 115%;
  width: 115%;
  /* left: -1rem; */
  border: 2px solid var(--primary);
  border-radius: 100rem;
  transition: 0.5s ease;
  z-index: 99;
}

.profilePicture:hover::before {
  height: 98%;
  width: 98%;
  border: 6px solid var(--primary);
}

.profilePicture::after {
  content: '';
  position: absolute;
  height: 98%;
  width: 98%;
  /* left: -2rem; */
  border: 4px solid var(--primary);
  border-radius: 100rem;
  transition: 0.5s ease;
  z-index: 99;
}

.profilePicture:hover::after {
  height: 94%;
  width: 94%;
}

.profilePicture:hover .divBallon {
  transition:
    visibility 0s,
    opacity 0.4s linear;
  visibility: visible;
  opacity: 1;
}

.divBallon {
  position: absolute;
  top: 86.6%;
  z-index: 999;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.4s linear;
}

.ballon {
  height: 35px;
  width: 110px;
  border-radius: 4px;
  background: var(--primary);
  position: relative;
  color: var(--bg-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.ballon:before {
  content: '';
  position: absolute;
  bottom: 100%;
  width: 0;
  border-bottom: 10px solid var(--primary);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

@media (max-width: 640px) {
  .bio h1 {
    font-size: 1.8rem;
  }

  .bio h1 span {
    font-size: 3rem;
  }
}
