.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1280px;
  position: relative;
}

.main::before {
  top: 0;
  content: " ";
  width: 100vw;
  height: 800px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/logofundo.png);
  z-index: 2;
}

.main::after {
  top: 25%;
  content: " ";
  width: 100vw;
  height: 600px;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/smokes.png);
  z-index: 1;
}
