.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  margin-top: 10px;
  background-color: rgba(11, 1, 11, 0.3);
  backdrop-filter: blur(2px);
  padding: 15px;
  border-radius: 20px;
  position: fixed;
}

.headerLogo {
  width: max-content;
  height: max-content;
  display: flex;
}

.configBtn {
  font-size: 1.2rem;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navMenu a::before {
  transition: 0.2s all;
  content: "";
  display: flex;
  align-items: center;
  width: 0%;
  height: 3px;
  background: var(--primary);
  position: absolute;
  bottom: 2px;
  transform: rotate(-5deg);
  z-index: -1;
}

.navMenu a::after {
  transition: 0.2s all;
  content: "";
  width: 0px;
  height: 8px;
  background: var(--primary);
  border-radius: 100% 0 100%;
  opacity: 1;
  position: absolute;
  bottom: -2px;
  transform: rotate(-5deg);
  z-index: -1;
}

.navMenu a:hover::after,
.navMenu a:active::after {
  width: 90%;
  transition-delay: 0.2s;
}

.navMenu a:hover::before,
.navMenu a:active::before {
  width: 90%;
  transition-delay: 0.2s;
}
