.header {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
  margin-top: 10px;
  background-color: rgba(11, 1, 11, 0.3);
  backdrop-filter: blur(2px);
  padding: 15px;
  position: fixed;
}

.headerLogo {
  width: max-content;
  height: max-content;
  display: flex;
  z-index: 999;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navMenu a:hover {
  text-shadow: 1px 1px 2px black, 0 0 1em var(--primary),
    0 0 0.2em var(--primary);
}

.navMenu a::before,
.navMenu a::after {
  transition: 0.15s all;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 6px;
  background: var(--primary);
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.navMenu a::after {
  right: -10px;
}

.navMenu a::before {
  left: -10px;
}

.navMenu a:hover::after,
.navMenu a:active::after {
  opacity: 1;
  transition-delay: 0.15s;
}

.navMenu a:hover::before,
.navMenu a:active::before {
  opacity: 1;
  transition-delay: 0.15s;
}

.line_menu {
  position: absolute;
  height: 100%;
  width: 90%;
  z-index: -1;
  transition: 0.15s all;
  opacity: 0;
  border-bottom: 2px dashed var(--primary);
  bottom: -8px;
}
.navMenu a:hover .line_menu,
.navMenu a:active .line_menu {
  opacity: 1;
  transition-delay: 0.15s;
}
