.home {
  height: 100%;
  flex-grow: 1;
  display: grid;
  align-items: center;
  grid-template-columns: 50% auto;
  justify-content: space-between;
  padding-top: 50px;
}

.profilePicture::before {
  content: "";
  position: absolute;
  height: 90%;
  width: 350px;
  left: -1rem;
  border: 2px solid var(--primary);
  border-radius: 1rem;
  transition: 0.5s ease;
}

.profilePicture::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 350px;
  left: -2rem;
  border: 2px solid var(--primary);
  border-radius: 1rem;
  transition: 0.5s ease;
}

.glitch {
  position: relative;
  margin: 0 auto;
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -2px 0 red;
  top: 0;
  color: white;
  background: var(--bg-dark);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: glitch1 2s infinite linear alternate-reverse;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: var(--bg-dark);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: glitch2 3s infinite linear alternate-reverse;
}

@keyframes glitch1 {
  0% {
    clip: rect(59px, 9999px, 84px, 0);
  }

  5% {
    clip: rect(46px, 9999px, 36px, 0);
  }

  10% {
    clip: rect(72px, 9999px, 84px, 0);
  }

  15% {
    clip: rect(58px, 9999px, 43px, 0);
  }

  20% {
    clip: rect(34px, 9999px, 62px, 0);
  }

  25% {
    clip: rect(63px, 9999px, 84px, 0);
  }

  30% {
    clip: rect(59px, 9999px, 73px, 0);
  }

  35% {
    clip: rect(15px, 9999px, 44px, 0);
  }

  40% {
    clip: rect(7px, 9999px, 81px, 0);
  }

  45% {
    clip: rect(63px, 9999px, 35px, 0);
  }

  50% {
    clip: rect(61px, 9999px, 98px, 0);
  }

  55% {
    clip: rect(8px, 9999px, 41px, 0);
  }

  60% {
    clip: rect(29px, 9999px, 32px, 0);
  }

  65% {
    clip: rect(7px, 9999px, 55px, 0);
  }

  70% {
    clip: rect(36px, 9999px, 60px, 0);
  }

  75% {
    clip: rect(75px, 9999px, 83px, 0);
  }

  80% {
    clip: rect(100px, 9999px, 16px, 0);
  }

  85% {
    clip: rect(47px, 9999px, 22px, 0);
  }

  90% {
    clip: rect(8px, 9999px, 45px, 0);
  }

  95% {
    clip: rect(0, 900px, 0, 0);
  }

  100% {
    clip: rect(0, 900px, 0, 0);
  }
}

@keyframes glitch2 {
  0% {
    clip: rect(7px, 9999px, 60px, 0);
  }

  5% {
    clip: rect(3px, 9999px, 30px, 0);
  }

  10% {
    clip: rect(75px, 9999px, 95px, 0);
  }

  15% {
    clip: rect(30px, 9999px, 70px, 0);
  }

  20% {
    clip: rect(58px, 9999px, 27px, 0);
  }

  25% {
    clip: rect(67px, 9999px, 80px, 0);
  }

  30% {
    clip: rect(36px, 9999px, 12px, 0);
  }

  35% {
    clip: rect(98px, 9999px, 81px, 0);
  }

  40% {
    clip: rect(99px, 9999px, 91px, 0);
  }

  45% {
    clip: rect(88px, 9999px, 24px, 0);
  }

  50% {
    clip: rect(62px, 9999px, 57px, 0);
  }

  55% {
    clip: rect(17px, 9999px, 82px, 0);
  }

  60% {
    clip: rect(17px, 9999px, 29px, 0);
  }

  65% {
    clip: rect(80px, 9999px, 62px, 0);
  }

  70% {
    clip: rect(35px, 9999px, 40px, 0);
  }

  75% {
    clip: rect(43px, 9999px, 85px, 0);
  }

  80% {
    clip: rect(55px, 9999px, 95px, 0);
  }

  85% {
    clip: rect(67px, 9999px, 58px, 0);
  }

  90% {
    clip: rect(8px, 9999px, 45px, 0);
  }

  95% {
    clip: rect(0, 900px, 0, 0);
  }

  100% {
    clip: rect(0, 900px, 0, 0);
  }
}
